<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <form method="post" action="/payment-momo">
      <button class="btn2" type="submit">THANH TOAN MOMO</button>
    </form>
  </div>

</body>

</html>